//
@import 'modules/map.scss';
@import 'spectre.css/src/spectre.scss';
@import 'air-datepicker/dist/css/datepicker';
@import 'dropzone/dist/dropzone';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: #f7f7f7;
    font-family: 'Muli', sans-serif;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.Map-Filter {
    position: absolute;
    z-index: 1000;
    padding: 20px;
    background-color: #fff;
    right: 80px;
    top: 100px;
    border: solid 1px #eee;
    border-radius: 5px;
    box-shadow: 5px 4px 6px #aaa;
    font-size: 0.8em;
    font-weight: bold;
    label {
        display: block;
        line-height: 30px;
    }
}

.Actions {
    position: absolute;
    left: 30px;
    top: 100px;
    padding: 10px;
}

.datepickers-container {
    z-index: 20000;
}

.modal {
    overflow: auto;
    align-items: flex-start;
    padding: 3.4rem;
}

.modal-container {
    max-height: fit-content;
}

.modal.active .modal-overlay {
    position: fixed;
}