@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
.header-menu {
    display: block;
    background-color: #70a289;
    color: #fff;
    .item {
        vertical-align: middle;
        display: inline-block;
        padding: 0 10px;
        line-height: 80px;
        text-decoration: none;
        color: #fff;
        &.logo {
            font-size: 1.3em;
            letter-spacing: 5px;
            line-height: 40px;
            background-color: #5d9277;
            .description {
                letter-spacing: 0;
                font-size: 13px;
                line-height: 20px;
            }

            &:hover {
                background-color: #5d9277;
            }
        }

        &:hover {
            background-color: #5d9277;
        }
        transition: background-color 0.3s;
    }
}