@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
.header-menu {
    display: block;
    background-color: #70a289;
    color: #fff;
    z-index: 1000;
    position: relative;
    .item {
        vertical-align: middle;

        line-height: 40px;

        @media (max-width: 900px) {
            display: block;
        }
        @media (min-width: 900px) {
            display: inline-block;
            line-height: 80px;
        }
        padding: 0 10px;
        text-decoration: none;
        color: #fff;
        &.logo {
            font-size: 1.3em;
            letter-spacing: 5px;
            line-height: 40px;
            background-color: #5d9277;
            
            .description {
                letter-spacing: 0;
                font-size: 13px;
                line-height: 20px;
                @media (max-width: 900px) {
                    line-height: 25px;
                    font-size: 13px;
                }

                @media (max-width: 300px) {
                    display:none;
                }
            }

            &:hover {
                background-color: #5d9277;
            }
        }

        &:hover {
            background-color: #5d9277;
        }
        transition: background-color 0.3s;
    }

    @media (max-width: 900px) {
        padding-right: 60px;

        .active {
            display:none;
        }

        .active.show {
            display:block;
        }
    }
}
