@import '../semantic/dist/semantic.min.css';
body{
    background-color: #f7f7f7;
}

#login-form{
    width:500px;
    max-width: 100%;
}

.page-centered{
    text-align:center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.page-centered:before{
    content: '.';
    visibility: hidden;
    height:100%;
    vertical-align: middle;
    display: inline-block;
}

.page-centered .block{
    display: inline-block;
    vertical-align: middle;
    background-color:white;
    text-align:left;
    padding: 30px;
    border: solid 1px #ddd;
}

.login-logo{
    text-align: center;
    margin: 30px;
}

.login-logo img{
    display: inline-block;
    max-width: 200px;
}
.Map-Module {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

.Map-Filter {
    position: absolute;
    z-index: 1000;
    padding: 20px;
    background-color: #fff;
    right: 80px;
    top: 100px;
    border: solid 1px #eee;
    border-radius: 5px;
    box-shadow: 5px 4px 6px #aaa;
    font-size: 0.8em;
    font-weight: bold;
    label {
        display: block;
        line-height: 30px;
    }
}